<!DOCTYPE html>
<html> 
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="javascripts/chart-application.js"></script>



  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to  <%= title %></p>
              <div ng-app="myApp.controllers">
              <div ng-controller="MyCtrl1">
                <div id="chartdiv">
                </div>
                </div>
                </div>
    
  </body>
</html>
